/* HERO UPDATE */
.hero-name {
  font-size: 2.8rem;
  font-weight: bold;
  color: #111; /* hitam full */
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0 20px 0;
  color: #555;
}

/* EDUCATION */
.education-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.education-card span {
  color: #666;
  font-size: 0.9rem;
}

/* SKILLS */
.skills-container {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.skills-container ul {
  list-style: none;
  margin-top: 10px;
}

.skills-container li {
  margin-bottom: 8px;
}

/* Responsive */
@media(max-width: 900px) {
  .skills-container {
    flex-direction: column;
  }
}
